
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #D2D2D2D2;
}

.content {  
  flex-grow: 1;
}

.header {
 height: 15vh;
 background-color: darkgreen;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  background-color: black;
  align-items: center;
}

.bordered-box {
  width: 10%;
  border: 5px solid darkgoldenrod;
  background-color: tan;
  flex-grow: 1;
}
